.anagrams {
  columns: 2;
  list-style: none;
  margin: 50px auto;
  width: 100%;
  max-width: 1000px;
  padding: 0;
  @media screen and (min-width: 768px) {
    columns: 4;    column-gap: 20px;
  }
}

.anagram {
  text-align: center;
  margin-bottom: 15px;
  .char {
    background-color: rgba(255,255,255,.7);
    margin: 0 1px 0 0;
    display: inline-block;
    font-size: 20px;
    box-shadow: 2px 2px 0 rgba(0,0,0,.2);
    width: 25px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    color: transparent;
    &::selection {
      color: transparent;
    }    
  }
  &.--show {
    .char {
      background-color: #ffffff;
      color: #000000;
      &::transparent {
        color: #000000;
      }
    }
  }
  &.--solved {
    .char {
      background-color: yellow;
    }
  }
}