.anagrams-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  
  margin: 25px auto;
  width: 90%;

  .anagram-column {
    margin: 0 15px 15px 0;
    list-style: none;
    padding: 0;

    &:last-child {
      margin-right: 0;
    }
  }

}

.anagram {
  // text-align: center;
  // margin-bottom: 15px;
  
  // dev
  text-align: left;
  // width: 175px;
  // display: inline-block;
  margin-bottom: 5px;

  .char {
    background-color: rgba(255,255,255,.7);
    margin: 0 1px 0 0;
    display: inline-block;
    font-size: 20px;
    box-shadow: 2px 2px 0 rgba(0,0,0,.2);
    width: 25px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    color: transparent;
    &::selection {
      color: transparent;
    }    
  }
  &.--show {
    .char {
      background-color: #ffffff;
      color: #000000;
      &::transparent {
        color: #000000;
      }
    }
  }
  &.--solved {
    .char {
      background-color: yellow;
    }
  }
}