html {
  height: 100%;
}
body {
  background-color: #00CCFF;
  font-family: 'Jost', Arial, Serif;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}
.game {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  // padding: 20px;
}
.site-header {
  background-color: #df744a;
  padding: 10px 0;
  .logo {
    font-family: 'Merienda';
    color: #fff;
    font-weight: 700;
    margin: 0;
    text-shadow: 1px 2px #000;
    font-size: 2em;
    text-align: center;
  }
}
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

// Margin Utility::
.m {
  // m-auto
  &-auto {
    margin-left: auto;
    margin-right: auto;
  }
  // m-t30
  &-t30 {
    margin-top: 30px;
  }
  // m-l5
  &-l5 {
    margin-left: 5px;
  }
}

.game-form {
  text-align: center;
  &__input {
    width: 100%;
    max-width: 424px;
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 26px;
    line-height: 2.1;
    outline: 0;
    border: solid 3px #df744a;
    border-radius: 4px;
  }
}

.notify {
  width: 400px;
  margin: 15px auto;
  padding: 10px;
  background-color: rgba(255,255,255,.8)
}