.game-form {
    text-align: center;
  &__input {
    width: 100%;
    text-align: center;
    margin: 15px 0;
    font-size: 26px;
    line-height: 2.1;
    outline: 0;
  }
  &__button {
    background-color: transparent;
    border: solid 1px #000;
    border-radius: 4px;
    border-bottom: solid 2px;
    padding: 5px 10px;
    margin-right: 10px;
  }
}