.game-form {
  text-align: center;
  width: 100%;
  max-width: $game-max-width;
  margin: 0 auto;

  &__input {
    width: 100%;
    max-width: $game-max-width;
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 26px;
    line-height: 2.1;
    outline: 0;
    border: solid 3px $primary-red;
    border-radius: 4px;
  }
}