.notification {
  margin: 15px auto;
  width: 100%;
  background: red;
  max-width: 420px;
  padding: 10px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}