.notification {
  margin: 15px auto;
  width: 100%;
  background-color: $primary-red;
  padding: 10px;
  border-radius: 4px;
  color: $white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px $black;
}