
$offset-top: -50px;
$offset-horizontal: 20%;

.game-stat {
  position: absolute;
  top: $offset-top;
  text-align: center;
  display: flex;
  align-items: center;

  &.game-stat--points {
    left: $offset-horizontal;
  }
  &.game-stat--level {
    right: $offset-horizontal;
  }
}

.game-timer {
  width: 50px;
  height: 50px;
  border: solid 6px rgb(59, 214, 255);
  border-radius: 50px;
  background-color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: -33px;
  left: 50%;
  transform: translateX(-50%);
}