.disabled {
  pointer-events: none;
  opacity: .2;
}

// Margin Utility:
.m {
  // m-auto
  &-auto {
    margin-left: auto;
    margin-right: auto;
  }
  // m-t30
  &-t30 {
    margin-top: 30px;
  }
  // m-l5
  &-l5 {
    margin-left: 5px;
  }
  // m-r10
  &-r10 {
    margin-right: 10px;
  }
}

// Text Utility:
.text-uppercase {
  text-transform: uppercase;
}