// Colors
$primary-blue: #00d3ff;
$primary-red: #df744a;
$secondary-red: #D13800;
$white: #ffffff;
$black: #000000;

// Fonts
$sans: sans-serif, arial;
$antic-slab: 'Antic Slab', serif;

$game-max-width: 450px;
$start-page-max-width: 650px;