@import '../../../scss/utils/utils';

.start-page {
  position: relative;
  width: 100%;
  max-width: $start-page-max-width;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-bottom: solid 10px $primary-red;
  margin: 58px auto 0 auto;

  .word {
    width: 100%;
    max-width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.instructions-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
  background-color: $white;
  padding: 20px;
  flex-grow: 1;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    i {
      margin-right: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}