@import '../../scss/utils/utils';

.game-stats {
  display: flex;
  margin: 15px auto 10px auto;

  .game-stat {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;

    .game-stat-icon {
      margin-right: 5px;
    }
  }

}