@import '../../../scss/utils/utils';

.word-row {
  position: relative;
  width: 100%;
  max-width: $game-max-width;
  margin: 0 auto;

  &.--reset {
    .letter {
      text-transform: uppercase;
    }
  }
}

.word {
  display: flex;
  padding: 0;
  margin: 0;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  background: rgba(255, 255, 255, .2);
  border-radius: 4px;
}

.letter {
  background-color: $white;
  margin: 0 10px 0 0;
  width: 50px;
  line-height: 1.5;
  list-style: none;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, .2);
  cursor: pointer;

  &.--used {
    color: $white;
    box-shadow: 0px 0px 0px 2px $primary-red;
    cursor: default;

    &::selection {
      color: $white;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px $primary-red;
  }
}
