// Vars

$blue: #00d3ff;
$red: #df744a;
$white: #ffffff;
$black: #000000;

// SVG
$icon-check: 0 0;
$icon-error: 50% 0;
$icon-timer: 50% 100%;
$icon-timeroff: 100% 0;
$icon-star: 0 100%;
$icon-trending: 100% 100%;